*{margin:0;padding:0;}
body{
  background:gray;
}
h1,h2,p{
  text-align:center;
}
h1{
  padding:20px;
}
h2{
  padding:20px;
}
p{
  margin-bottom:30px;
}
nav{
  background:black;
}
.wrapper{
  width:900px;
  margin:0 auto;
  padding:20px;
  background:white;
}
nav .wrapper{
  height:0px;
  background:black;
}
nav a>img{
  position:relative;
  top:-20px;
  left:-20px;
  height:40px;
}
nav ul{
  float:right;
  display:flex;
  align-items:center;
  height:100%;
  position:relative;
  right:-20px;
}
nav ul>li{
  list-style: none;
}
nav ul>li>a{
  padding:10px;
  color:white;
  text-decoration:none;
}
nav ul>li>a:hover{
  opacity:50%;
}
.index-categories-list{
  display:flex;
}
.index-categories-list>div{
  background:lightgray;
  margin:0 auto;
  width:  210px;
  height: 210px;
  display:flex;
  align-items:center;
}
.index-categories-list>div>h3{
  text-align:center;
  width:100%;
}

.signup-form-form{
  font-size:20px;
  width:240px;
  margin:0 auto;
  text-align:center;
}
.signup-form-form button{height:30px;width:80px;}
.signup-form-form input{
  width:240px;
  height:30px;
  margin-bottom:5px;
}